
body {

    font-family: Helvetica, sans-serif;
}

h2, h3 {
    margin-top: 0;
}

form {
    margin-top: 15px;
}

    form > input {
        margin-right: 15px;
    }
#analyzeBtn {
    float: right;
}

#APIresults
{
    float: right;       
}

#my_camera {

    justify-content:center; 
    height:240px; width:320px;

}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.screen{
   margin-left:10%;

}

#confidence{

}
#description
style="padding-top: 10px; text-align: center"></h3>
    <h3 id="confidence" style="padding-top: 10px; text-align: center"></h3