
body {

    font-family: Helvetica, sans-serif;
}

h2, h3 {
    margin-top: 0;
}

form {
    margin-top: 15px;
}

    form > input {
        margin-right: 15px;
    }
#analyzeBtn {
    float: right;
}

#APIresults
{
    float: right;       
}

#my_camera {
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}