<div class="text-center">
    <h1>Im great im awesome</h1>
    <h2>Hello only for you & only for limit time i have come up with amazing software</h2>
    <h3>You can always try take a picture and see results</h3>
    <h4>I dont like say im a genious but i am actually very smart</h4>
    <h5>this is why i come up with face recognition by serious algorithm</h5>
</div>

@section Scripts {
}