
<br /><br /><br /><br /><br />
<div class="text-center">
    <h1>Analyze your pictures</h1>
    <h2>With this experimental website</h2>
    <h3>which uses Microsoft's cognitive API:s</h3>
</div>

@section Scripts {
}