<div class="row">
    @Html.Partial("_CameraInfoText")
</div>

<div class="row">

    <div class="col-md-6">
        @Html.Partial("_Camera")
    </div>

    <div class="col-md-6 pull-right">
        @Html.Partial("_Translate")
    </div>

</div>
<div id="resultDiv">
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_Picture")
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <input type="button" class="btn btn-success" value="Analyze" onClick="initVision()">
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/Vision.js"></script>
    <script src="~/Scripts/Translate.js"></script>
}
