
<section id="features" class="features">
    <div class="container">
        <div class="row">
            @Html.Partial("_Camera")
            <div id="results" class="col-md-4 pull-right"></div>
            
                <h3 id="description" style="padding-top: 10px; text-align: center"></h3>
                <h3 id="confidence" style="padding-top: 10px; text-align: center"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4 text-center">
                <select id="lang" class="form-control">
                    <option value="sv">Svenska</option>
                    <option value="en">Engelska</option>
                    <option value="da">Dansk</option>
                    <option value="no">Norsk</option>
                    <option value="fi">Soumi</option>
                    <option value="de">Deutsch</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-success" value="Save Snapshot" onClick="initVision()">

            </div>
        </div>
    </div>
</section>





@section Scripts {
    <script src="~/Scripts/Vision.js"></script>
    <script src="~/Scripts/Translate.js"></script>
}
