
<section id="features" class="features">
    <div class="container">
        <div class="row">
            @Html.Partial("_Camera")

            <div class="col-md-4 pull-right">
                <div class="device-container">
                    <div class="device-mockup samsung_tv">
                        <div class="device">
                            <div class="screen" id="results"></div>
                        </div>
                    </div>
                </div>
                <h3 id="description" style="padding-top: 10px; text-align: center"></h3>
                <h3 id="confidence" style="padding-top: 10px; text-align: center"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
                <input type="button" class="btn btn-success" value="Save Snapshot" onClick="initVision()">
            </div>
        </div>
    </div>
</section>





@section Scripts {
    <script src="~/Scripts/Vision.js"></script>
}
