<div id="results">Your captured image will appear here...</div>

<h1>Amazing Camera</h1>
<div class="row">
    <div class="row col-xs-12" id="my_camera"></div>
</div>

<form>
    <input type="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();">
    <input type="button" value="Take Snapshot" onClick="take_snapshot()" style="display:none">
</form>

<input type="button" value="Save Snapshot" onClick="save_snapshot()">

<p id="emotions"></p>