
<div class="device-container">
    <div class="device-mockup iphone6_plus landscape white">
        <div class="device">
            <div class="screen" id="my_camera"></div>
            <div class="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();"></div>
            <div class="button" value="Take Snapshot" onClick="take_snapshot()" style="display:none"></div>
        </div>
    </div>
</div>

