<div id="results">Your captured image will appear here...</div>

<h1>Amazing Camera</h1>
<div id="my_camera"></div>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">

</script>

<form>
    <input type="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();">
    <input type="button" value="Take Snapshot" onClick="take_snapshot()" style="display:none">
</form>

<input type="button" value="Save Snapshot" onClick="save_snapshot()">
