
<div class="device-container">
    <div class="device-mockup iphone6_plus landscape white">
        <div class="device">
            <div class="screen" style="margin-left:10%" >
           <div id="my_camera" style="justify-content:center; height:240px; width:320px"></div>
            </div>
            <div class="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();"></div>
            <div class="button" value="Take Snapshot" onClick="take_snapshot()" style="display:none"></div>
        </div>
    </div>
</div>