<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color:#21610B">
        <div class="container-fluid">
            <ul id="navBtns" class="nav navbar-nav navbar-right">
                <li id="HomeButton" class="none"><a id="headerStyle" href="/home/index"><b>Home</b></a></li>

            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/App.js"></script>
    @RenderSection("Scripts")
</body>
</html>
