<div class="container">
    <h2>Have a look at yo emotions!!</h2>
    <p>They are represented in tha table!! :</p>
    <table id="emotions" class="table table-striped">
        <thead>
            <tr>
                <th>Emotion</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Happiness</td>
                <td id="Happiness"></td>
            </tr>
            <tr>
                <td>Surprise</td>
                <td id="Surprise"></td>
            </tr>
            <tr>
                <td>Neutral</td>
                <td id="Neutral"></td>
            </tr>
            <tr>
                <td>Fear</td>
                <td id="Fear"></td>
            </tr>
            <tr>
                <td>Contempt</td>
                <td id="Contempt"></td>
            </tr>
            <tr>
                <td>Sadness</td>
                <td id="Sadness"></td>
            </tr>
            <tr>
                <td>Disgust</td>
                <td id="Disgust"></td>
            </tr>
            <tr>
                <td>Anger</td>
                <td id="Anger"></td>
            </tr>
        </tbody>
    </table>
</div>

