<div class="col-md-2 col-md-offset-4 text-center">
    <select id="lang" class="form-control">
        <option value="sv">Svenska</option>
        <option value="en">English</option>
        <option value="da">Dansk</option>
        <option value="no">Norsk</option>
        <option value="fi">Suomi</option>
        <option value="de">Deutsch</option>
        <option value="fr">Français</option>
        <option value="es">Español</option>
        <option value="ja">日本語</option>
        <option value="zh-CN">中文</option>
    </select>
</div>

<h3 id="description" style="padding-top: 10px; text-align: center"></h3>
<h3 id="confidence" style="padding-top: 10px; text-align: center"></h3>